<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xmlLocation>I:\ПЕРЕВОД\Git\OP2_UKR-master\OP2_UKR\gamedata\config\text</xmlLocation>
  <toEng>true</toEng>
  <lastSelectedFile>archievements.xml</lastSelectedFile>
  <lastSelectedStringId>acv_homak</lastSelectedStringId>
  <scd1>227</scd1>
  <scd2>269</scd2>
  <scd3>0</scd3>
  <scd4>35</scd4>
  <fontSize>12</fontSize>
  <winSize>
    <Width>1162</Width>
    <Height>598</Height>
  </winSize>
</Settings>